/******************************************
/* CSS
/*******************************************/

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap);

:root {
    --white: hsl(0,0%,100%);
    --light-gray: hsl(212,45%,89%);
    --mint-blue: #e3f6f5;
    --dark-mint: #bae8e8;
    --dark-blue: #272643;
    --font-size: 15px;
    --font-family:'Outfit';
    background-color: var(--dark-blue);
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
    background-color: var(--dark-blue);
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
}


.container {
    width: 60em;
    display: float;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 1.5em;
}

.card {
    
    display: flex;
    flex-direction: column;
}

.topcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomcard {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    align-self: center;
    width: 90%;
    height: 90%;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 8px;
}

.title {
    font-size: 4.5em;
    font-family: "Fraunces";
    color: var(--dark-blue);
    text-align: center;

}

.joke {
    Font-family: "Montserrat";
    line-height: 1.5em;
    color: grey;
    font-size: 1.8rem;
    height: 150px;
    max-width: 400px;
    text-align: center; 
}

.button {
    align-items: center;
    background-color: var(--dark-mint);
    border: none;
    color: white;
    padding: 10px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "Montserrat";
    border-radius: 12px;
}

.tribute {
    font-family: "montserrat";
    line-height: 1.5em;
    color: grey;
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
    width: 90%;
    margin-bottom: 1em;
    
}

.attribution { 
    font-size: 1.5rem; 
    text-align: center; 
    color: var(--white);
    padding-top: 10px;
}

